<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form th:action="@{/register}" th:object="${userToRegister}" method="post">
            <div>
                <label for="firstName">First Name</label>
                <input th:field="*{firstName}" id="firstName" type="text" required />
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input th:field="*{lastName}" id="lastName" type="text" required />
            </div>
            <div>
                <label for="address">Address</label>
                <input th:field="*{address}" id="address" type="text" required />
            </div>
            <div>
                <label for="postalCode">Postal Code</label>
                <input th:field="*{postalCode}" id="postalCode" type="text" required />
            </div>
            <div>
                <label for="city">City</label>
                <input th:field="*{city}" id="city" type="text" required />
            </div>
            <div>
                <label for="phoneNumber">Phone Number</label>
                <input th:field="*{phoneNumber}" id="phoneNumber" type="tel" />
            </div>
            <div>
                <label for="email">Email Address</label>
                <input th:field="*{email}" id="email" type="email" required />
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </body>
</html>